{% extends "seek/base.html" %}
{% block title %} About {% endblock %}
{% block content %}
{% load static %}



<div class="banner">
    <div class="container">
        <h1 class="font-weight-semibold">About Us </h1>
        <div class="para">
            <p class="font-weight-normal text-muted pb-3">
                Welcome to Seek, where you can search for people using
                images. Our advanced image recognition and search technology makes it easy to find information about
                individuals by uploading an image or entering the image's URL. Whether you're trying to reconnect with
                an old friend, identify someone in a photo, or learn more about a celebrity, our web app has you
                covered. With a vast database of images, our web app is an essential tool for anyone looking to find
                information about people using images. Try it out today and see how easy it is to find the people you're
                looking for.
            </p>
        </div>
    </div>
</div>



{% endblock %}