{% extends "seek/base.html" %}
{% block title %} Image {% endblock %}
{% block content %}

{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'seek/drag/css/style.css' %}">

{% endblock %}



<div class="drag-container">
    <div class="drag-area">
        
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <h1 style="text-align: center;">Search Data Using image</h1>
        <header>Drag & Drop to Upload File</header>
        <span>OR</span>
        <button>Browse File</button>
        <input type="file" hidden>
    </div>

</div>


<script src="{% static 'seek/drag/js/script.js'%} "></script>




{% endblock %}