{% extends "seek/base.html" %}
{% load static %}
{% block title %} person details {% endblock %}
{% block content %}


<body>
    <div class="container">
        <div class="row">
            <!-- <img src="{{ media_root }}{{ result.person_image.name }}" "class="img-fluid" alt="..."> -->
            <img src="{{result.person_image}}" height="400px" width="400px" alt="image" />
            <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">{{result.first_name}}{{result.last_name}}</dd>

                <dt class="col-sm-3">Gender</dt>
                <dd class="col-sm-9">{{result.gender}}</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">{{result.email}}</dd>

                <dt class="col-sm-3">Division</dt>
                <dd class="col-sm-9">{{result.division}}</dd>

                <dt class="col-sm-3">District</dt>
                <dd class="col-sm-9">{{result.district}}</dd>

                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9">{{result.address}}</dd>

                <dt class="col-sm-3">Present Address</dt>
                <dd class="col-sm-9">{{result.present_address}}</dd>

                <dt class="col-sm-3">About</dt>
                <dd class="col-sm-9">
                    <p>{{result.about}}</p>
                </dd>

                <dt class="col-sm-3">Nid Number</dt>
                <dd class="col-sm-9">
                    <p>{{result.nid_number}}</p>
                </dd>

                <dt class="col-sm-3">Personal Number</dt>
                <dd class="col-sm-9">
                    <p>{{result.personal_number}}</p>
                </dd>

                <dt class="col-sm-3">Relative Number</dt>
                <dd class="col-sm-9">
                    <p>{{result.relative_number}}</p>
                </dd>

                <dt class="col-sm-3">Emergency Number</dt>
                <dd class="col-sm-9">
                    <p>{{result.emergency_number}}</p>
                </dd>

            </dl>
        </div>
    </div>
</body>



{% endblock %}