{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'auth/signup.css'%} ">
    <style>
        .error{
            list-style: none;
            color: red;
            font-size: 30px;
        }

        .success{
            list-style: none;
            color: Green;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <h1>Signup</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder="Confirm Password">
            <input type="submit" id="btn" value="Register">
        </form>
        <span>Already have a account?</span> <a href="{% url 'login' %}">Login</a>
        <br>
        <br>
    </div>
</body>

</html>